/**
 * Layout - Main
 */

.main {
  @include container("md");

  &__title {
    &::after {
      content: "✶";
      color: theme-color("secondary");
      font-size: 1.25em;
      margin-inline-start: space("x-small");
    }

    & > span {
      font-family: "Cormorant Garamond", serif;
    }
  }

  &__list {
    list-style-type: none;
    margin: space("medium") 0;
    padding: 0;
  }

  &__listItem {
    &::before {
      content: '✶';
      padding-inline-end: 0.5em;
      color: color-active("primary");
      font-size: 1.5em;
    }

    &.is-spec {
      color: theme-color("dark");
      font-size: 0.875rem;
      letter-spacing: var(--heading-letter-spacing);
  
      &::before {
        content: "―";
        margin-inline-end: space("x-small");
        padding-inline-end: 0.5em;
        color: theme-color("secondary");
        font-weight: 700;
      }
    }
  }

  &__row {
    @include row(flex-start, flex-start);
  }

  &__article {
    @include col(6, false, "md");
  }

  &__aside {
    @include col(3, false, "md");
  }
}
