/**
 * Project - Post Index
 */

.postIndex {
  @include list-unstyled();
  @include row(flex-start, flex-start);
  gap: space("medium");
  
  & > * {
    flex: 0 1 calc(50% - #{space("medium")} / 2);
  }

  @media (min-width: breakpoint("md")) {
    display: block;
  }

  &__item {
    display: block;
    margin: space("medium") 0;

    @media (min-width: breakpoint("lg")) {
      margin-block-end: space("large");
    }
  }

  &__image {
    margin-block-end: space();
  }

  &__date, &__title {
    display: block;
    margin-block-end: space("x-small");
    font-size: font-size("small");
    line-height: 1;
  }
}
